GOOGLE_CREDENTIALS_PATH=credentials/client_secret.json
GOOGLE_TOKEN_PATH=token.json
DOWNLOAD_ROOT=data/raw
EXPORT_ROOT=data/exports
LOG_ROOT=data/logs
DEFAULT_EXPORT_GOOGLE_DOC=pdf
DEFAULT_EXPORT_GOOGLE_SHEET=xlsx
DEFAULT_EXPORT_GOOGLE_SLIDE=pdf